@model IEnumerable<KC_Bugtracker.Models.UserProjectsListViewModel>

@{
    ViewBag.Title = "Project Assignments";
}

<div class="row">
    <div class="col-md-5">
        <div class="card shadow">
            <div class="card-header">
                <h3>Assign Projects</h3>
            </div>
            <div class="card-body">
                <h6>Assign a User to a Project. Users can be assigned multiple Projects</h6>
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col">
                        @if (User.IsInRole("Admin") || User.IsInRole("DemoAdmin"))
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Project Managers</h4>
                                    @Html.DropDownList("ProjectManagerId", null, "--Select--", new { @class = "rolelist" })
                                    @Html.DropDownList("DemoProjectManagerId", null, "--Select--", new { @class = "rolelist" })
                                </div>
                            </div>
                            <hr />
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Developers</h4>
                                @Html.ListBox("Developers", null, new { @class = "itemlist" })
                                @Html.ListBox("DemoDevelopers", null, new { @class = "itemlist" })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Submitters</h4>
                                @Html.ListBox("Submitters", null, new { @class = "itemlist" })
                                @Html.ListBox("DemoSubmitters", null, new { @class = "itemlist" })
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Projects</h4>
                                @Html.ListBox("Projects", null, new { @class = "itemlist" })
                            </div>
                        </div>
                        <div class="col pt-3 text-center">
                            <button type="submit" class="btn btn-primary">Assign</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <div class="card shadow">
            <div class="card-header">
                <h3>Users</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="projects" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th><h4>@Html.DisplayNameFor(model => model.Name)</h4></th>
                                <th><h4>Role</h4></th>
                                <th><h4>@Html.DisplayName("Projects")</h4></th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(model => item.Name)</td>
                                    <td>@Html.DisplayFor(model => item.Role)</td>
                                    <td>
                                        <ul>
                                            @foreach (var name in item.ProjectNames)
                                            {
                                                if (name != "N/A")
                                                {
                                                    <li>@name</li>
                                                }
                                                else
                                                {
                                                    @name
                                                }
                                            }
                                        </ul>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/assets/extra-libs/DataTables/datatables.min.js"></script>

    <script>
        $('#projects').DataTable();
    </script>

}
