
@{
    ViewBag.Title = "Manage Users";
}

<div class="card shadow">
    <div class="card-header">
        <h4>Manage Users</h4>
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                @Html.Hidden("ProjectId", (int)ViewBag.ProjectId)
                <div class="col-md-4">
                    @Html.DropDownList("ProjectManagerId", null, "--Select--", new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.ListBox("Developers", null, new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.ListBox("Submitters", null, new { @class = "form-control" })
                </div>
            </div>
            <div class="row pt-3">
                <div class="col text-center">
                    <button type="submit" class="btn btn-success">Submit</button>
                    @Html.ActionLink("Back to Project List", "Index", null, new { @class = "btn btn-primary " })
                </div>
            </div>

        }
    </div>
</div>

