@model KC_Bugtracker.Models.Ticket

@{
    ViewBag.Title = "Delete";
}

<div class="card shadow">
    <div class="card-header">
        <h3>Delete Ticket - Are you sure you want to delete this?</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <dl class="dl-horizontal">
                    <dt>
                        Assigned Developer
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Developer.FullName)
                    </dd>

                    <dt>
                        Project
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Project.Name)
                    </dd>

                    <dt>
                        Submitter
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Submitter.FullName)
                    </dd>

                    <dt>
                        Priority
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TicketPriority.PriorityName)
                    </dd>

                    <dt>
                        Status
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TicketStatus.StatusName)
                    </dd>
                </dl>
            </div>
            <div class="col-6">
                <dl>
                    <dt>
                        Type
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TicketType.TypeName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Title)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Created)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Created)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Updated)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Updated)
                    </dd>
                </dl>

            </div>


        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="row justify-content-center">
                    <div class="col-6 text-center">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        @Html.ActionLink("Back to Ticket List", "Index", null, new { @class="btn btn-info" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

