@model KC_Bugtracker.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/favicon.png">
    <title>Bug Tracker - Login</title>
    <!-- Custom CSS -->
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/Content/demo.css" rel="stylesheet" />

</head>

<body>
    <div class="main-wrapper">
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">
            <div class="auth-box border-top border-secondary">
                <div id="loginform">
                    <div class="text-center p-t-20 p-b-20">
                        <span class="db"><img src="~/Images/logo.png" alt="logo" /></span>
                    </div>
                    <!-- Form -->
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row p-b-30">
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-success text-white" id="basic-addon1"><i class="ti-user"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-lg", placeholder = "Username" })
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="ti-pencil"></i></span>
                                    </div>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg", placeholder = "Password" })
                                </div>
                            </div>
                        </div>
                        <div class="row border-top border-secondary">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="p-t-20">
                                        <button class="btn btn-info" id="to-recover" type="button"><i class="fa fa-lock m-r-5"></i> Lost password?</button>
                                        <a class="btn btn-secondary" href="~/Account/Register">Register</a>
                                        <button class="btn btn-success float-right" type="submit">Login</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div id="recoverform">
                    <div class="text-center">
                        <span class="text-white">Enter your E-mail address below and you will be sent instructions on how to recover your password.</span>
                    </div>
                    <div class="row m-t-20">
                        <!-- Form -->
                        <form class="col-12" action="index.html">
                            <!-- email -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-danger text-white" id="basic-addon1"><i class="ti-email"></i></span>
                                </div>
                                <input type="text" class="form-control form-control-lg" placeholder="Email Address" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <!-- pwd -->
                            <div class="row m-t-20 p-t-20 border-top border-secondary">
                                <div class="col-12">
                                    <a class="btn btn-success" href="#" id="to-login" name="action">Back To Login</a>
                                    <button class="btn btn-info float-right" type="button" name="action">Recover</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container-fluid text-center">
            <div class="col-md-3 text-center">
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("emailKey", "DemoAdminEmail")
                    <button type="submit" class="card text-center demologin">
                        <div class="card-body">
                            <div class="text-center">
                                <h3>Admin</h3>
                            </div>
                            <div class="text-center">
                                <img src="~/Avatars/default_user.png" class="rounded-circle img-fluid" width="300" />
                            </div>
                            <div class="text-center">
                                asdfasdf
                            </div>
                        </div>
                    </button>
                }
            </div>
            <div class="col-md-3 text-center">
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("emailKey", "DemoPMEmail")
                    <button type="submit" class="card text-center demologin">
                        <div class="card-body">
                            <div class="text-center">
                                <h3>Project Manager</h3>
                            </div>
                            <div class="text-center">
                                <img src="~/Avatars/default_user.png" class="rounded-circle img-fluid" width="300" />
                            </div>
                            <div class="text-center">
                                asdfasdf
                            </div>
                        </div>
                    </button>
                }
            </div>
            <div class="col-md-3 text-center">
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("emailKey", "DemoDeveloperEmail")
                    <button type="submit" class="card text-center demologin">
                        <div class="card-body">
                            <div class="text-center">
                                <h3>Developer</h3>
                            </div>
                            <div class="text-center">
                                <img src="~/Avatars/default_user.png" class="rounded-circle img-fluid" width="300" />
                            </div>
                            <div class="text-center">
                                asdfasdf
                            </div>
                        </div>
                    </button>
                }
            </div>
            <div class="col-md-3 text-center">
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("emailKey", "DemoSubmitterEmail")
                    <button type="submit" class="card text-center demologin">
                        <div class="card-body">
                            <div class="text-center">
                                <h3>Submitter</h3>
                            </div>
                            <div class="text-center">
                                <img src="~/Avatars/default_user.png" class="rounded-circle img-fluid" width="300" />
                            </div>
                            <div class="text-center">
                                asdfasdf
                            </div>
                        </div>
                    </button>
                }
            </div>
        </div>
        
    </div>

    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>

    <!--Custom JavaScript -->
    <script src="~/Scripts/js/custom.min.js"></script>

    <script>

        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ==============================================================
        // Login and Recover Password
        // ==============================================================
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $('#to-login').click(function () {

            $("#recoverform").hide();
            $("#loginform").fadeIn();
        });
    </script>

</body>

</html>