@using KC_Bugtracker.Models
@using Microsoft.AspNet.Identity
@using KC_Bugtracker.Helpers

@{
    ViewBag.Title = "Profile";
}


@{
    var db = new ApplicationDbContext();
    var user = db.Users.Find(User.Identity.GetUserId());
    var roleHelper = new UserRolesHelper();

}

<div class="card shadow">
    <div class="card-header">
        <div class="row-md-12">
            <h2><span>@user.FirstName</span> <span>@user.LastName</span></h2>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-left">
                @if (user != null && user.AvatarPath == null)
                {
                    <img src="~/Avatars/default_user.png" alt="..." class="rounded-circle pr-1" width="100" />
                }
                else if (user != null)
                {
                    <img src="@user.AvatarPath" alt="..." class="rounded-circle pr-1" width="100" />
                }
                @if (!roleHelper.IsDemoUser(user.Id))
                {
                    // Not demo user
                    <a href="~/Manage/EditProfile">Edit Profile</a>
                }
                else
                {
                    // Demo user
                    <p class="pl-2" style="color:gray;">Edit Profile</p>
                }
            </div>
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>Name: @user.FirstName @user.LastName</li>
                    <li>Username: @user.DisplayName</li>
                    <li>Email: @user.Email</li>
                    <li>Role: @roleHelper.GetRoleName(user.Id)</li>
                </ul>
            </div>
        </div>
    </div>
</div>