@using KC_Bugtracker.Models
@using Microsoft.AspNet.Identity
@using KC_Bugtracker.Helpers

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/favicon.png">
    <title>Bug Tracker</title>
    <!-- Custom CSS -->
    @*<link href="~/assets/libs/flot/css/float-chart.css" rel="stylesheet">*@
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <!-- Custom CSS -->
    <link href="~/Content/style.min.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    <link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/morris.css" rel="stylesheet" />
</head>

<body style="background-color: #dedede">
    @{
        var db = new ApplicationDbContext();
        var user = db.Users.Find(User.Identity.GetUserId());
        var roleHelper = new UserRolesHelper();
        var userRole = roleHelper.ListUserRoles(user.Id).FirstOrDefault();
    }

    <!-- Preloader -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Top Left Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="~/Home/Dashboard">
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10">
                            <img src="~/Images/logo-icon.png" alt="homepage" class="light-logo" />
                        </b>

                        <!-- Logo text -->
                        <span class="logo-text">
                            <!-- dark Logo text-->
                            <img src="~/Images/logo-text.png" alt="homepage" class="light-logo" />
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-right">
                        <!-- ============================================================== -->
                        <!-- Notifications -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="mdi mdi-bell font-24"></i>
                                @if (NotificationHelper.GetUnreadNotifications().Count() != 0)
                                {
                                    <span class="badge badge-success">@NotificationHelper.GetUnreadNotifications().Count()</span>
                                }
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown" aria-labelledby="2">
                                <ul class="list-style-none">
                                    <!-- Notifications -->
                                    @if (NotificationHelper.GetUnreadNotifications().Count() == 0)
                                    {
                                        <li>
                                            <div class="row py-3 pl-2">
                                                <span class="message pl-2">No notifications</span>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        foreach (var unreadNotification in NotificationHelper.GetUnreadNotifications())
                                        {
                                            <li>
                                                @using (Html.BeginForm("Dismiss", "TicketNotifications", FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.Hidden("Id", unreadNotification.Id)

                                                    <div class="d-flex no-block align-items-center p-10">
                                                        <span class="image"><img src="@unreadNotification.Sender.AvatarPath" alt="Sender" class="rounded-circle" width="30" /></span>
                                                        <div class="m-l-10">
                                                            <h5 class="m-b-0"><span>@unreadNotification.Sender.FullName</span></h5>
                                                            <span class="">@Html.Raw(unreadNotification.NotificationBody)</span>
                                                            <span class="chat-time float-right">@unreadNotification.Created.ToString("MMM dd, yyyy")</span>
                                                        </div>
                                                    </div>
                                                    <button type="submit">Dismiss</button>
                                                    <div class="dropdown-divider"></div>
                                                }
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown ">
                            @if (user != null && user.AvatarPath == null)
                            {
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/Avatars/default_user.png" alt="user" class="rounded-circle" width="31"></a>
                            }
                            else if (user != null)
                            {
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="@user.AvatarPath" alt="user" class="rounded-circle" width="31"></a>
                            }
                            <div class="dropdown-menu dropdown-menu-right user-dd animated bounceInDown">
                                <a class="dropdown-item" href="~/Account/Profile"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="~/Tickets/Index"><i class="ti-ticket m-r-5 m-l-5"></i> My Tickets</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("LogOut", "Account")"><i class="fa fa-power-off m-r-5 m-l-5"></i> Log Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- Left Sidebar
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/Account/Profile" aria-expanded="false">
                                <div class="row">
                                    <div class="col-sm-6">
                                        @if (user.AvatarPath == null)
                                        {
                                            <img src="~/Avatars/default_user.png" alt="..." class="rounded-circle" width="40" />
                                        }
                                        else if (user != null)
                                        {
                                            <img src="@user.AvatarPath" alt="..." class="rounded-circle" width="40" />
                                        }
                                    </div>
                                    <div class="col-sm-6 text-center">
                                        <div class="row"><span class="hide-menu">@user.FirstName @user.LastName</span></div>
                                        <div class="row"><span class="hide-menu">@roleHelper.GetRoleName(user.Id)</span></div>
                                    </div>
                                </div>
                            </a>
                            <hr />
                        </li>

                        <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/Home/Dashboard" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Dashboard</span></a></li>
                        @* ---------------Admin--------------- *@
                        @if (User.IsInRole("Admin") || User.IsInRole("DemoAdmin"))
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow waves-effect waves-dark sidebar-link" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-chess"></i><span class="hide-menu">Administrator </span></a>
                                <ul aria-expanded="false" class="collapse first-level">
                                    <li class="sidebar-item"><a href="~/Admin/ManageRoles" class="sidebar-link"><i class="fas fa-address-book"></i><span class="hide-menu"> Manage User Roles </span></a></li>
                                </ul>
                            </li>
                        }
                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark sidebar-link" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-folder"></i><span class="hide-menu">Projects </span></a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/Projects/Index" aria-expanded="false"><i class="fas fa-folder-open"></i><span class="hide-menu">Projects List</span></a></li>
                                @if (User.IsInRole("Admin") || User.IsInRole("DemoAdmin") || User.IsInRole("ProjectManager") || User.IsInRole("DemoProjectManager"))
                                {
                                <li class="sidebar-item"><a href="~/Admin/ManageProjectUsers" class="sidebar-link"><i class="fas fa-address-book"></i><span class="hide-menu"> Project Assignments</span></a></li>
                                }
                            </ul>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="fas fa-ticket-alt"></i><span class="hide-menu">Tickets</span></a>
                            <ul aria-expanded="false" class="collapse first-level">
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/Tickets/Index" aria-expanded="false"><i class="far fa-list-alt"></i><span class="hide-menu">Ticket List</span></a></li>
                                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/TicketNotifications/Index" aria-expanded="false"><i class="fas fa-bell"></i><span class="hide-menu">Ticket Notifications</span></a>

                                @if (User.IsInRole("Submitter") || User.IsInRole("DemoSubmitter"))
                                {
                                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/Tickets/Create" aria-expanded="false"><i class="fas fa-book"></i><span class="hide-menu">Create New Ticket</span></a></li>

                                }
                                @if (User.IsInRole("Admin") || User.IsInRole("DemoAdmin"))
                                {
                                    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="~/TicketHistories/Index" aria-expanded="false"><i class="fas fa-book"></i><span class="hide-menu">Ticket History</span></a></li>
                                }
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </aside>
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb and right sidebar toggle -->
            @*<div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4>@Html.ViewBag.Title</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="~/Home/Dashboard">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">@Html.ViewBag.Title</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>*@
            <div id="test" class="container-fluid">
                @RenderBody()
            </div>

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="~/Scripts/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Scripts/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Scripts/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- Charts js Files -->
    <script src="~/Scripts/js/morris.min.js"></script>

    <script src="~/assets/libs/flot/jquery.flot.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.time.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="~/assets/libs/flot/jquery.flot.crosshair.js"></script>

    <script src="~/assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>

    @RenderSection("scripts", required: false)

</body>

</html>
